<% this.title = '首页'; %>
<% include header %>
<div class="padding">
  <div class="ui grid">
    <div class="sixteen wide column">
      <h4 class="ui top attached block header"><i class="ui info icon"></i>公告</h4>
      <div class="ui bottom attached segment">
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>标题</th>
              <th>时间</th>
            </tr>
          </thead>
          <tbody>
            <% for (let item of notices) { %>
                <tr>
                    <td><a href="<%= item.url %>"><%= item.title %></a></td>
                    <td><%= item.date %></td>
                </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <h4 class="ui top attached block header"><i class="ui signal icon"></i>排名</h4>
      <div class="ui bottom attached segment">
        <table class="ui very basic center aligned table" style="table-layout: fixed; ">
          <thead>
            <tr>
	            <th style="width: 50px; ">#</th>
	            <th style="width: 170px; ">姓名</th>
	            <th>个性签名</th>
            </tr>
          </thead>
          <script data-cfasync="false">
          var lineHeight = 0;
          (function () {
            var div = document.createElement('div');
            div.style.position = 'fixed';
            div.style.left = -10000;
            div.style.visibility = 'hidden';
            div.innerText = '测试，Test.';
            document.body.appendChild(div);
            lineHeight = div.clientHeight;
          })();
          </script>
          <tbody>
            <%
            let i = 0;
            for (let user of ranklist) {
              ++i;
            %>
                <tr>
                    <td><b><%= i %></b></td>
                    <td><a href="<%= syzoj.utils.makeUrl(['user', user.id]) %>"><%= user.realname %></a><% if (user.nameplate) { %><%- user.nameplate %><% } %></td>
                    <td style="font-content">
                      <script id="user-infomation-script-<%= i %>" data-cfasync="false">
                      (function () {
                        var html = <%- serializejs(user.information) %>;
                        var elem = document.createElement('div');
                        elem.style = 'overflow: hidden; width: 100%; position: relative; ';
                        elem.style.maxHeight = lineHeight + 'px';
                        elem.innerHTML = html;
                        var imgs = Array.prototype.slice.call(elem.getElementsByTagName('img'));
                        for (var i in imgs) imgs[i].parentNode.removeChild(imgs[i]);
                        var script = document.getElementById('user-infomation-script-<%= i %>');
                        script.parentNode.replaceChild(elem, script);
                      })();
                      </script>
                    </td>
                </tr>
             <%
            } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% include footer %>
